#intro{
	
	text-align:center;
    background-color: rgb(128, 0, 117); 
    text-decoration-color:rgb(255,51,0);
    padding: 25px 672px;
    padding-top:20px;
	padding-bottom:20px;
	border: 3px black ridge;
    font-size: 36px;
}
h1{
	background-color:rgb(128, 0, 117);
    color:rgb(255,51,0);
	font-size:30px;
	text-align:center;
    border: 3px black ridge;
    margin-bottom: -6px;
	
	
	
}

